@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #f0f4f5;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    /* border: 1px solid red; */
    /* position: fixed; */
    width: 100%;
    /* z-index: 3; */
    background-color: #f0f4f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo > img{
    width: 13rem;
    cursor: pointer;
}

.nav-search{
    /* border: 1px solid red; */
    width: 38%;
}
.search-field{
    border: none;
    width: 80%;
    padding: 1rem;
    background-color: #f0f4f5;
    font-size: 1rem;
    border-bottom: 1px solid #95acb3;
}

.nav-search > button {
    width: 20%;
    margin-left: -5px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #95acb3;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #95acb3;
    cursor: pointer;
}

.nav-name{
    font-size: 1.2rem;
    font-weight: 500;
}

/* filter section */

#filter-section{
    background-color: #f0f4f5;
    min-height: 80vh;
    width: 20rem;
    margin-left: 5rem;
    margin-top: 5rem;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#filter-section p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #284b63;
    /* border: 1px solid red; */
}

#filter-section span{
    display: block;
    margin: 1rem;
    padding: 0.33rem;
    border: 1px solid #284b63;
    width: fit-content;
    border-radius: 15px;
    font-size: 0.85rem;
    font-weight: 500;
    cursor: pointer;
    color: #6c757d;
}

.location{
    /* border: 1px solid red; */
    padding-top: 1rem;
    margin-left: 1rem;
}

.roles{
    /* border: 1px solid red; */
    margin-top: 2rem;
    margin-left: 1rem;
}

.skills{
    /* border: 1px solid red; */
    margin-top: 2rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

.filter-line{
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border-top: 1px solid #adb5bd;
}

/* user section */

#user-section{
    /* border: 1px solid red; */
    width: 60%;
    position: absolute;
    top: 18%;
    right: 10%;
}

.user{
    background-color: #95acb3;
    border: 1px solid #222222;
    border-radius: 2px;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 80%;
}

.user p{
    font-size: 1.5rem;
    font-weight: 500;
}

.user-location{
    margin-left: 10%;
    border: 1px solid black;
    padding: 0.6rem;
}

.user-role{
    margin-left: 8%;
    border: 1px solid black;
    padding: 0.6rem;
}

.user-skills{
    background-color: #95acb3;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    margin-left: 8%;
    padding: 0.6rem;
}